<div class="root" *ngIf="show">
    <button type="button" (click)="close()" class="close">X</button>
    <button class="go" type="button" (click)="next(true)">></button>
    <button class="go" type="button" (click)="next(false)"><</button>
    <div class="photo ">
        <figure>
            <img src="{{path}} ">
            <figcaption class="info">{{author | uppercase}} - {{photoName}}</figcaption>
        </figure>
    </div>
    <div class="comment-section ">
        <p class="intro ">Comments</p>
        <hr>
        <p class="comment-author ">{{currentCommentAuthor | uppercase}}:</p>
        <!-- <p class="comment " [innerHtml]="{{currentComment}}"></p> -->
        <!-- https://stackoverflow.com/questions/44210786/style-not-working-for-innerhtml-in-angular -->
        <!-- issue with inner html images overlapping. I think it's not important for this class since this is a stylesheet issue -->
        <div class="comment " [innerHTML]="currentComment"></div>
    </div>
</div>