<div>
    <!-- <div class="trailer">
        <div class="header">
            <p>
                Projet de fin ANGULAR<br>Brice PARENT B8<br>EPITA
            </p>
        </div>
    </div> -->
    <app-photo-handler></app-photo-handler>
    <div class="trailer">
        <div class="footer">
            <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" /> Made with <i class="icon ion-heart" style="color: #e25555;"></i> by Brice.<br>
            <a href="https://www.briceparent.com">briceparent.com</a>
        </div>
    </div>

</div>